body {
 /* background: #24aecd; */
  background: #4FD195;
}


.brogan {
  width: 493px;
  height: 493px;
  margin: 2% auto;
  background: url('http://i.imgur.com/XB2uNHC.png') left center;
  -webkit-animation: play .6s steps(12) infinite;
}

@-webkit-keyframes play {
	100% { background-position: -5916px; }
}

